<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center"><%= @player.username %>'s Profile</h2>
        Email: <%= @player.email %>
        <hr>

        <% @words.each do |w| %>
        <a href="https://en.oxforddictionaries.com/definition/<%=w.title%>" target="_blank"><%=w.title%></a>
        (<%= w.points %>)
        <hr>
        <% end %>
        Total Points: <%= Word.where(user_id: @player.id).sum(:points) %>
      </div>
  </div>
</div>
