<div class="userPage"><h2><%= @user.username %>'s Profile</h2>
Email: <%= @user.email %>
<hr>
<!-- <h3>Scores:</h3>
<% scores = @user.scores %>
<% scores.each do |s| %>
<div><%= s.points %></div>
<% end %> -->

<% @words.each do |w| %>
<%= w.title %>
(<%= w.points %>)
<hr>
<% end %>
Total Points: <%= Word.sum(:points) %>

</div>
