<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center"><%= @user.username %>'s Profile</h2>
        Email: <%= @user.email %>
        <hr>

        <% @words.each do |w| %>
        <%= w.title %>
        (<%= w.points %>)
        <hr>
        <% end %>
        Total Points: <%= Word.where(user_id: @user.id).sum(:points) %>
      </div>
  </div>
</div>
