<!DOCTYPE html>
<html>
  <head>
    <title>AlphabetSoup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('soup-icon.png'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Chewy|Neucha" rel="stylesheet">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
<<<<<<< HEAD
    <nav>
      <%= link_to "home", root_path %>
      <% if !signed_in? %>
      || <%= link_to "login", new_user_session_path %>
      <% elsif signed_in? %>
      ||   <%= link_to "logout",destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
=======
    <div id="test"></div>
    <%= render 'layouts/navigation' %>
    <%= yield %>
>>>>>>> a158efeb3d663101b9a5c226968c68e4f374b4b3
    <script src="test.js" charset="utf-8"></script>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
