<!DOCTYPE html>
<html>
  <head>
    <title>AlphabetSoup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('soup-icon.png'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Chewy|Neucha" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <%= render 'layouts/footer' %>

    <div id="banner2" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Top Players</h2>
        </div>
        <div class="modal-body">
        <% if user_signed_in? %>
          <% top = [] %>
          <% @user.each do |u| %>
            <% id = u.id %>
            <% top.push([Word.where(user_id: id).sum(:points), u.username])%>
          <% end %>

            <div class="leaderboard-score">
              <div class="scoreboard-left">
                <h4><strong>Player</strong></h4>
                <% top.sort.reverse.take(10).each do |t|%>
                  <div class="player-name"><%= t[1] %></div>
                <% end %>
              </div>
              <div class="scoreboard-right">
                <h4><strong>Points</strong></h4>
                <% top.sort.reverse.take(10).each do |t|%>
                  <div class="player-score"><%= t[0] %></div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <h3>Go get your soup on</h3>
        </div>
      </div>
    </div>

    <div id="banner" class="modal">
      <div id="banner-content" class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>How To Play</h2>
        </div>
        <div class="modal-body">
          <%= image_tag("tutorial-pic.png", class: "tutorial") %>
          <div class="directions">
            <h5 class="sub-title">1. The Can</h5>
            <p>Timer on top, words and their worth in the middle, total score on the bottom.</p>
            <h5 class="sub-title">2. The Bowl</h5>
            <p>A random letter grid is generated every round. Selected letters are in red, orange adjacent letters show which are available to you.</p>
            <h5 class="sub-title">3. The Spoon</h5>
            <p>As you click, your letters show up here. You can clear it by submitting the word for points.</p>
          </div>
        </div>
        <div class="modal-footer">
          <h3>Go get your soup on</h3>
        </div>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
