<!DOCTYPE html>
<html>
  <head>
    <title>AlphabetSoup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('soup-icon.png'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Chewy|Neucha" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <%= render 'layouts/footer' %>

    <div id="banner2" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Top Scores</h2>
        </div>
        <div class="modal-body">
          <% score = [] %>
          <% @scores.each do |s| %>
          <% name = User.find(s.user_id).username %>
          <% score.push([s.points, name]) %>
          <% end %>

          <% score.sort.reverse.take(10).each do |f|%>
            <div class="">
              <%= f[1] %> : <%= f[0] %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <h3>Go get your soup on</h3>
        </div>
      </div>
    </div>

    <div id="banner" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>How To Play</h2>
        </div>
        <div class="modal-body">
          <p>RUlES ANd STUff</p>
        </div>
        <div class="modal-footer">
          <h3>Go get your soup on</h3>
        </div>
      </div>
    </div>


<!-- <div id="banner">
  <div id="instruct">
    <h2 id="instructTitle">How To Play</h2>
    <i id="howButton"class="fas fa-times"></i>
  </div>
</div> -->


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
