<!DOCTYPE html>
<html>
  <head>
    <title>AlphabetSoup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('soup-icon.png'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Chewy|Neucha" rel="stylesheet">
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>


<div id="banner2">
  <div id="leaderboard">
    <h2 id="leaderboardTitle">Top Scores</h2>
  
  </div>
</div>

<div id="banner">
  <div id="instruct">
    <h2 id="instructTitle">How To Play</h2>
  </div>
</div>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
